body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
}

#main {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: row nowrap;
}

#sidebar {
	height: 100%;
	width: 20vw;
}

#title {
	font-family: 'Bungee Hairline', sans-serif;
	font-size: 3vw;
	text-align: left;
	width: auto;
	padding: 5vh 2vw 2vh 2vw;
	margin: 0;
	cursor: default;
}

#felix {
	width: 80%;
	padding: 10%;
}

#social {
	width: 80%;
	padding: 10%;
	display: flex;
	flex-flow: column;
}

.github-logo, .social-logo, .icon {
	height: 1em;
	margin-right: 0.3em;
}

.project-link {
	margin-right: 0.6em;
}

#nav {
	width: 80%;
	padding: 10%;
	display: flex;
	flex-flow: column;
}

.nav-item {
	padding-left: 1.2rem;
	text-indent: -1.2rem;
}

#line {
	height: 90vh;
	margin-top: 5vh;
	width: 0;
	border-right: 1px solid gray;
}

#primary {
	height: auto;
	width: 100%;
	padding-top: 5vh;
	overflow-x: scroll;
}

.content-container {
	width: 90%;
	padding: 3%;
	margin: 0 2% 2% 2%;
	background-color: #fff;
	border-bottom: 1px solid lightgray;
}

.content-header {
	margin-top: 0;
}

#aboutme-text {
	text-align: justify;
	line-height: 1.4em;
}

.link {
	color: #0f00b3;
}

.project {
	padding: 10px;
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 10px;
}

.project-header {
	margin: 0;
}

.project-image {
	width: 12vw;
	margin-right: 15px;
	align-self: start;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.abstract-link {
	cursor: pointer;
}

.abstract-text {
	display: none;
}

#email {
	cursor: pointer;
}

@media screen and (max-width: 700px) {

	#main {
		height: auto;
		width: 100vw;
		display: flex;
		flex-flow: column nowrap;
	}

	#sidebar {
		max-width: initial;
		width: 100vw;
		height: auto;
		display: flex;
		flex-flow: row nowrap;
		position: fixed;
		top: 0;
		background-color: white;
		border-bottom: 1px solid lightgray;
		overflow: hidden;
		justify-content: space-between;
	}

	#title {
		font-size: 8vw;
		padding: 2vw;
	}

	#social {
		padding: 2vw;
		height: auto;
		width: auto;
		justify-content: space-around;
		font-size: 3vw;
	}

	.social-link {
		display: inline-flex;
	}

	.social-logo {
		height: 4vw;
		margin-right: 1vw;
	}

	#nav {
		display: none;
	}

	#felix {
		display: none;
	}

	#line {
		display: none;
	}

	#primary {
		padding-top: 0;
		margin-top: 25vw;
	}

	.project-image {
		margin-right: 20px;
	}

}
